name: Build and Release Resources

on:
    push:
        tags:
            - "*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Compile resources
      run: ./compile-resources

    - name: Zip resources (for normal humans)
      run: |
        for dir in ./*-res-*/; do
          target=$(echo $dir | cut -f 2 -d /)
          mv $target/resources .
          zip -r $target.zip resources
          rm -rf resources
        done

    - name: Create release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          resources-*.zip
        make_latest: true
        body: |
          Freshly baked resource packs - now in civilized ZIP format!
          • Built: ${{ github.run_number }} (Attempt ${{ github.run_attempt }})
          • Commit: ${{ github.sha }}
