name: Build and Release Resources

on:
    push:
        tags:
            - "*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Compile resources
      run: ./compile-resources

    - name: Zip resources (for normal humans)
      run: |
        mv stable-res-war-water/resources .
        zip -r stable-resources.zip resources
        rm -rf resources

        mv stable-res-vanilla-water/resources .
        zip -r stable-resources.zip resources
        rm -rf resources

        mv stable-res-NOPBR-vanilla-water/resources .
        zip -r stable-resources.zip resources
        rm -rf resources

        mv stable-res-NOPBR-war-water/resources .
        zip -r stable-resources.zip resources
        rm -rf resources

        mv dev-res-war-water/resources .
        zip -r dev-resources.zip resources
        rm -rf resources

        mv dev-res-vanilla-water/resources .
        zip -r dev-resources.zip resources
        rm -rf resources

        mv dev-res-NOPBR-vanilla-water/resources .
        zip -r dev-resources.zip resources
        rm -rf resources

        mv dev-res-NOPBR-war-water/resources .
        zip -r dev-resources.zip resources
        rm -rf resources

    - name: Create release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          dev-resources-war-water.zip
          dev-resources-vanilla-water.zip
          dev-resources-NOPBR-war-water.zip
          dev-resources-NOPBR-vanilla-water.zip
          stable-resources-war-water.zip
          stable-resources-vanilla-water.zip
          stable-resources-NOPBR-war-water.zip
          stable-resources-NOPBR-vanilla-water.zip
        make_latest: true
        body: |
          Freshly baked resource packs - now in civilized ZIP format!
          • Built: ${{ github.run_number }} (Attempt ${{ github.run_attempt }})
          • Commit: ${{ github.sha }}